<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mon groblog">
    <meta name="author" content="Gir">
    <title>{% block title %}Groblog{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{{asset('bundles/groblog/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{asset('bundles/groblog/vendor/bootstrap/dist/css/blog-post.css') }}" rel="stylesheet">
    <link href="{{asset('bundles/groblog/css/design.css') }}" rel="stylesheet">


</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

</body>
</html>


